{#  Route de la page actuelle #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Block title #}

    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    {# Font-Awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {# Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# styles.css #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# block css #}
    {% block css %}{% endblock %}
</head>
<body>

    {# Menu Principal #}
    {% include 'partials/_main_navbar.html.twig' %}

    {# Affichage des messages flashes #}
    {% include 'partials/_flashes.html.twig' %}

    {# Block body #}
    {% block body %}{% endblock %}


    {# Bootstrap #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {# block js #}
    {% block js %}{% endblock %}
</body>
</html>